body {
		background-color: black;
		color:white;
		font-family: "Courier New";
		font-size:20px;
		text-align: center;
		letter-spacing: 3px;


}

p {

	color: white;
	font-size: 20px;
	overflow:hidden;
}


button {

display: block;
font-family: "Courier New";
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
     padding: 4px 9px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 15px;
  box-shadow: 1 3px #999;
}	

button:hover {background-color: #ff3030}

button:active {
  background-color: #ff3030;

  box-shadow: 0 5px #666;
  transform: translateY(-1px);
}

audio{
  display:none;
}

.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}

